<div class="container">
  <mat-toolbar>
    <div class="logo">
      <h2>Hideout Helper</h2>
      <div>
        <span>{{ version }}</span>
        <button mat-flat-button (click)="openInfo()">What's this?</button>
      </div>
    </div>
    <span class="spacer"></span>
    <div class="actions">
      <button mat-flat-button [matMenuTriggerFor]="saveMenu">Save</button>
      <mat-menu #saveMenu="matMenu" xPosition="before">
        <button mat-menu-item (click)="saveHideout()">Save Hideout</button>
        <button mat-menu-item (click)="exportHideout()">Export String</button>
      </mat-menu>

      <button mat-flat-button [matMenuTriggerFor]="loadMenu">Load</button>
      <mat-menu #loadMenu="matMenu" xPosition="after">
        <button mat-menu-item (click)="loadHideout()">Load Hideout</button>
        <button mat-menu-item (click)="importHideout()">Import String</button>
      </mat-menu>
      <button mat-icon-button class="menu" (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
  </mat-toolbar>

  <mat-drawer-container class="content" autosize>
    <div class="modules">
      @for (module of modules; track module) {
        <div class="card">
          <app-module-card [module]="module"></app-module-card>
        </div>
      }
    </div>

    <mat-drawer #drawer class="sidebar" position="end" mode="side">
      <div class="sidebar-content">
        <div class="heading">
          <h2>Shopping List</h2>
          <mat-divider></mat-divider>
        </div>
        @if (!shoppingList.length) {
          <div class="info-text">
            Looks like you're not tracking any items. Add a module to your cart to
            begin tracking.
          </div>
        } @else {
          <mat-list>
            @for (item of shoppingList; track item) {
              <mat-list-item>
                <span [ngClass]="{ 'item-complete': item[1] === 0 }">
                  {{ item[1] | number : '1.0' : 'en-US' }}x {{ item[0] }}
                </span>
              </mat-list-item>
            }
          </mat-list>
        }
        <div class="sidebar-buttons">
          <button mat-stroked-button color="warn" (click)="resetAll()">
            Reset All
          </button>
        </div>
      </div>
    </mat-drawer>
  </mat-drawer-container>
</div>
