<div class="container">
  <mat-toolbar>
    <span>Hideout Helper</span>
    <span class="spacer"></span>
    <div class="actions">
      <button mat-flat-button [matMenuTriggerFor]="saveMenu">Save</button>
      <mat-menu #saveMenu="matMenu" xPosition="before">
        <button mat-menu-item (click)="saveHideout()">Save Hideout</button>
        <button mat-menu-item (click)="exportHideout()">Export String</button>
      </mat-menu>

      <button mat-flat-button [matMenuTriggerFor]="loadMenu">Load</button>
      <mat-menu #loadMenu="matMenu" xPosition="after">
        <button mat-menu-item (click)="loadHideout()">Load Hideout</button>
        <button mat-menu-item (click)="importHideout()">Import String</button>
      </mat-menu>
      <button mat-icon-button class="menu" (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
  </mat-toolbar>

  <mat-drawer-container class="content" autosize>
    <div class="modules">
      <div *ngFor="let module of modules" class="card">
        <app-module-card [module]="module"></app-module-card>
      </div>
    </div>

    <mat-drawer #drawer class="sidebar" position="end" mode="side">
      <div class="sidebar-content">
        <div class="heading">
          <h2>Shopping List</h2>
          <mat-divider></mat-divider>
        </div>
        <ng-container *ngIf="!shoppingList.length; else displayList">
          <div class="info-text">
            Looks like you're tracking any items. Add a module to your cart to
            begin tracking.
          </div>
        </ng-container>
        <ng-template #displayList>
          <mat-list>
            <mat-list-item *ngFor="let item of shoppingList">
              <span [ngClass]="{ 'item-complete': item[1] === 0 }">
                {{ item[1] | number : '1.0' : 'en-US' }}x {{ item[0] }}
              </span>
            </mat-list-item>
          </mat-list>
        </ng-template>
        <div class="sidebar-buttons">
          <button mat-stroked-button (click)="openInfo()">What's this?</button>
          <button mat-stroked-button color="warn" (click)="resetAll()">
            Reset All
          </button>
        </div>
      </div>
    </mat-drawer>
  </mat-drawer-container>
</div>
