<div class="dialog-container">
  <div mat-dialog-title>
    <h1>Hideout Helper</h1>
  </div>
  <div mat-dialog-content>
    <h2>What's this?</h2>
    <p>
      This is Hideout Helper, an app to help track "junk" items as you upgrade
      your hideout in Escape From Tarkov.
    </p>
    <h2>Cool, how do I use it?</h2>
    <p>
      Using Hideout Helper is like creating a grocery list.<br /><br />
      You select the items you want to track by adding a Module to your cart.<br /><br />
      Tracked Modules' cart icons turn green when they're being tracked.<br /><br />
      Once a Module is being tracked, its requirements are shown in your
      Shopping List.<br /><br />
      You can track as many or as few Modules as you want.<br /><br />
      You can change the level of the Module you're tracking using the Up and
      Down arrows to the right of a Module's item list.<br /><br />
      As you collect items on your Shopping List, you can click the item in the
      Module to mark it as "complete".<br /><br />
      As you complete your items, your Shopping List will update indicating
      which items you do and don't need.
    </p>
    <h2>So... where do I start?</h2>
    <p>
      Start by setting each Module to the level appropriate for your Hideout and
      completing the appropriate items.<br /><br />
      Once you're finished, Save your Hideout using the "Save" button in the nav
      bar.<br /><br />
      Your changes are automatically saved when you make a change after not
      having saved during the last 5 minutes.<br /><br />
      You can also import or export a Hideout code to save and share Hideout
      configurations with your friends.
    </p>
    <h2>Awesome! How do I support this project?</h2>
    <p>
      I'm always looking for new ideas on how to improve the project.<br /><br />
      You can contribute to the project or provide feedback here:
      <a href="https://github.com/glennpai/hideout-helper"
        >Hideout Helper (GitHub)</a
      >.<br /><br />
      I'm currently looking into setting up methods to allow monetary donations
      to support the project.<br /><br />
      Thanks for checking out my app! :)
    </p>
  </div>
  <div mat-dialog-actions>
    <button mat-flat-button mat-dialog-close cdkFocusInitial>Dismiss</button>
  </div>
</div>
