mat-expansion-panel-content {
  padding: 0px !important;
  margin: 0px !important;
}

mat-action-row {
  padding: 0px !important;
  margin: 0px !important;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

mat-expansion-panel-header {
  display: flex;
  flex-grow: 1;
  line-height: 4em;
}

mat-panel-title {
  justify-content: left !important;
  align-items: center;
}

mat-panel-description {
  flex-grow: 1;
  justify-content: right !important;
  align-items: center;
}

/* TODO(mdc-migration): The following rule targets internal classes of list that may no longer apply for the MDC version. */
mat-list {
  flex-grow: 1;
}

.container {
  display: flex;
  text-align: center;
  width: 100%;
}

.item-button {
  padding: 10px !important;
  flex-grow: 1;
}

.complete {
  color: gray;
}

.panel-controls {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
  margin: 0 2em;
  button {
    margin: 0;
    padding: 0;
  }
}

.panel {
  width: 100%;
}

.item-complete {
  text-decoration: line-through;
  color: gray;
}

.check {
  margin-left: 1em;
}

.tracking-button {
  margin-right: 1em;
  background-color: gray;
  color: black;
}

.tracking {
  background-color: green;
  color: white;
}
